//主色调
$main-color:#ff0000;
//主背景色
$main-background-color:#f4f5f6;
//主边框色
$main-border-color:#f3f3f3;
//主文字颜色
$main-text-color:#333;
//次文字颜色
$desc-text-color:#666;
//灰色文字颜色
$gray-text-color:#999;
//警告颜色
$alert-color:#ff0000;
//屏幕空白距离
$border-blank-size:20rpx;